workflows/sub-Send-MS-Teams-Message.json
{
  "createdAt": "2025-09-21T07:47:15.911Z",
  "updatedAt": "2025-09-21T08:43:28.735Z",
  "id": "9K2hf3sZ3NJ8p8GE",
  "name": "sub-Send-MS-Teams-Message",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "85f4727a-7825-4085-91dc-bff8c20249ce",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Lấy phần tử đầu vào đầu tiên\nconst item = $input.first().json;\n\n// Destructuring các trường cần thiết\nconst {\n  summary,\n  buttonText,\n  buttonUrl,\n  themeColor,\n  text,\n  activityTitle,\n  emailSubject,\n  activitySubtitle,\n  aiSummary\n} = item;\n\n// Chuẩn bị danh sách facts cho MessageCard\nconst facts = [\n  { name: \"Email Title\", value: emailSubject },\n  { name: \"Summary (AI):\", value: aiSummary }\n];\n\n// Khởi tạo cấu trúc MessageCard cơ bản\nconst returnData = {\n  \"@type\": \"MessageCard\",\n  \"@context\": \"http://schema.org/extensions\",\n  themeColor,\n  summary,\n  sections: [\n    {\n      activityTitle,\n      activitySubtitle,\n      facts,\n      markdown: true\n    }\n  ]\n};\n\n// Nếu có buttonText và buttonUrl thì thêm button \"OpenUri\"\nif (buttonText && buttonUrl) {\n  returnData.potentialAction = [{\n    \"@type\": \"OpenUri\",\n    name: buttonText,\n    targets: [{ os: \"default\", uri: buttonUrl }]\n  }];\n}\n\n// Nếu có trường text thì bổ sung vào message\nif (text) {\n  returnData.sections[0].text = text;\n}\n\nreturn returnData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        16
      ],
      "id": "0219a411-1a29-4d85-89d8-afd66f7d7f26",
      "name": "[PARSE] - JSON Policy Update on MS Teams"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://soxesch.webhook.office.com/webhookb2/73e7b54a-62e6-48d9-9d94-d67485c65f95@8a0574d9-5f21-4779-a076-b4818eb23b70/IncomingWebhook/05a59d859995452393b0f12a87e27189/34d0a5f9-a3e2-49ad-86f0-c8509e0ebf7f/V2oXe_4uI5yLDYaXGnVtsurOXAusmIAhrFbC75CCpxWfs1",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        16
      ],
      "id": "c61cbf44-70ff-4666-af22-57a1754a3f2e",
      "name": "[ALERT] -Sent to MS Teams"
    }
  ],
  "connections": {
    "[PARSE] - JSON Policy Update on MS Teams": {
      "main": [
        [
          {
            "node": "[ALERT] -Sent to MS Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "[PARSE] - JSON Policy Update on MS Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "senderName": "Google Play Support",
          "emailSubject": "Subject: FW: [Action required] Your app is affected by Google Play's 16 KB\r\n page size requirements",
          "aiSummary": "Email thông báo về yêu cầu chính sách của Google Play liên quan đến việc hỗ trợ kích thước trang bộ nhớ 16 KB cho các ứng dụng nhằm đảm bảo hoạt động chính xác trên các phiên bản Android mới nhất, với hạn chót là ngày 1 tháng 11 năm 2025.",
          "originalSender": "",
          "text": "**Đề nghị team kiểm tra và có hành động kịp thời để đảm bảo các dự án không bị ảnh hưởng.**",
          "activityTitle": "🚨 CẢNH BÁO: CÓ CẬP NHẬT CHÍNH SÁCH QUAN TRỌNG",
          "activitySubtitle": "From email : **Google Play Support**",
          "summary": "Policy Update Alert: Subject: FW: [Action required] Your app is affected by Google Play's 16 KB\r\n page size requirements"
        }
      }
    ]
  },
  "versionId": "2569afa1-e6c4-4bcf-8d7c-da7eb3005e80",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-21T07:47:15.911Z",
      "updatedAt": "2025-09-21T07:47:15.911Z",
      "role": "workflow:owner",
      "workflowId": "9K2hf3sZ3NJ8p8GE",
      "projectId": "9I0qukrB9koLQXrY"
    }
  ],
  "tags": []
}